#section1 {
    padding-top: 50px;
    height: 687px;
    color: #fff;
    background-color: white;
}
#section2 {
    padding-top: 50px;
    height: 70px;
    color: #fff;
    background-color: #1f671f;
}
label, h4{
    color: rgba(0,0,0,.5);
}
.display-4{
    font-size: 2.5rem !important;
}
p{
    color: black;
}
#animation-loading{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    top: 50%;
    z-index:1;
    color: #1F671F;
}
.navbar-light .navbar-text a{
    color: rgba(0,0,0,.5) !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


